#container{
  width: 100%;
  scroll-behavior: auto;
  text-align: justify;
  align-content:stretch;
  border: 1px solid red;
  box-sizing: border-box;
  position: fixed;
  margin: 5px;
  padding: 5px;
  bottom: 20px;
}
#year,#month,#detailTime,#elements{
  display: inline-block;
  box-sizing: border-box;
}
#year{
  position: relative;
  left: 0px;
}
#detailTime{
  position: fixed;
  right: 0px;
}
.v-line{
  display: inline-block;
  /* border-left:2px solid ; */
  box-sizing: border-box;
  text-align: center;
}
#elements{
  border: 1px solid green;
}

.dark-1000{
  color:  #000000 ;
}
.dark-700{
  color:  #606060 ;
}
.dark-400{
  color:  #A0A0A0 ;
}

.tab{
  display: table-row;
}

.clickable {
	cursor: pointer;
	color: #234da7;
}
a {
	padding-right: 12px;
	text-decoration: none;
  display: block;
}
.tab-element>*{
  display: inline-block;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
